/* =============------------------- Homepage -------------------============= */

@font-face {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
}

@font-face {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
}

.index {
  background-image: url(https://media.istockphoto.com/videos/bright-light-blue-abstract-background-video-id466111700?s=640x640);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo-nav img {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.navbar {
  background-color: black;
}

.spacing {
  letter-spacing: 20px;
}

.font-head {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: 120%;
  letter-spacing: 5px;
  line-height: 2;
}

.position-nav {
  text-align: right;
}

.crop-nav img {
  width: 60px;
  height: 25px;
  background-position: center;
}

.font-foot-head {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  color: rgb(255, 255, 255);
}

.font-foot-isi {
  position: absolute;
  right: 90px;
  text-align: center;
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  color: rgb(255, 255, 255);
}

.font-foot-akhir {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  color: rgb(255, 255, 255);
}

.foot-akhr {
  text-align: right;
}

.crop-head-foot img {
  width: 240px;
  height: 80px;
  background-position: center;
}

.font-foot {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: 120%;
  letter-spacing: 5px;
  line-height: 2;
  color: white;
}

.bg-foot {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(21, 21, 21);
}

.line {
  position: -ms-page;
  color: #ff4e4e;
}

.font-cr {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: 112%;
  color: rgb(255, 255, 255);
  background-color: rgba(20, 20, 20, 0.2);
  padding-top: 12px;
}

.bg-cr {
  background-color: black;
  padding-bottom: 9px;
}

.row-foot {
  padding-top: 1%;
  padding-bottom: 1%;
}

.info img {
  width: 115%;
  padding-left: 10%;
  padding-top: 10%;
}

.button-info {
  position: relative;
  float: left;
  transform: rotate(270deg);
  margin-left: 240px;
  margin-top: 285px;
}

.info {
  padding-top: 2%;
  padding-bottom: 2%;
}

.font-info {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: 50px;
}

.isi-info {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: 19px;
  text-align: justify;
}

.info-fih {
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-fih {
  text-align: center;
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  font-weight: bolder;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.font-fih-isi {
  text-align: center;
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  font-weight: unset;
  font-size: 18.5px;
  color: rgb(0, 0, 0);
}

.font-head-testi {
  font-family: "Kanit";
  font-weight: bolder;
  text-shadow: 2px 2px 2px #2e2e2e;
  letter-spacing: 5px;
}

.font-isi-testi {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-size: medium;
}

.font-foot-testi {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-weight: bolder;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}
hr:after {
  content: "\00a0";
}

/* =============------------------- Responsive Homepage -------------------============= */
@media screen and (max-width: 640px) {
  .button-info {
    position: relative;
    transform: rotate(0deg);
    margin-top: 10px;
    margin-left: 0px;
  }

  .info img {
    width: 100%;
    padding-left: 10%;
    padding-top: 10%;
  }

  .font-info {
    font-family: "Mukta";
    src: url(./font/Mukta/Mukta-Medium.ttf);
    font-size: 40px;
  }

  .isi-info {
    font-family: "Mukta";
    src: url(./font/Mukta/Mukta-Medium.ttf);
    font-size: 15px;
    text-align: justify;
  }

  .font-foot-isi {
    position: absolute;
    right: 45px;
    text-align: left;
    font-family: "Mukta";
    src: url(./font/Mukta/Mukta-Medium.ttf);
    color: rgb(255, 255, 255);
  }
  .bg-foot {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgb(21, 21, 21);
  }

  .info-fih {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .font-fih {
    text-align: center;
    font-family: "Kanit";
    src: url(./font/Kanit/Kanit-Medium.ttf);
    font-weight: bolder;
    font-size: 43px;
    color: rgb(0, 0, 0);
  }

  .font-fih-isi {
    text-align: center;
    font-family: "Kanit";
    src: url(./font/Kanit/Kanit-Medium.ttf);
    font-weight: unset;
    font-size: 15.7px;
    color: rgb(0, 0, 0);
  }

  .font-head-testi {
    font-size: 35px;
  }

  .font-isi-testi {
    font-family: "Mukta";
    src: url(./font/Mukta/Mukta-Medium.ttf);
    font-size: 15px;
  }

  .font-foot-testi {
    font-family: "Mukta";
    src: url(./font/Mukta/Mukta-Medium.ttf);
    font-weight: bolder;
    font-size: 17px;
    padding-bottom: 10px;
  }
}

/* =============------------------- Responsive Homepage -------------------============= */

/* =============------------------- Homepage -------------------============= */

/* =============------------------- Blog -------------------============= */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");
.blog {
  background-image: url(https://media.istockphoto.com/videos/bright-light-blue-abstract-background-video-id466111700?s=640x640);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header-art {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  padding-left: 5%;
  padding-top: 1%;
  font-weight: bold;
}

.isi-blog {
  margin: 10px 80px;
  font-family: sans-serif;
  text-align: justify;
}

.judul-art {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  font-weight: bolder;
}

.readmore {
  margin-top: 11%;
  text-shadow: 1px 1px 1px #2e2e2e;
  font-style: italic;
}

.articles {
  margin-top: 30px;
}
.articles .article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.articles .article .left img {
  height: 300px;
  width: 500px;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
}
.articles .article .right p.date {
  color: #7f7e7e;
}
.articles .article .right p.description {
  color: #2d2d2d;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #494949;
}
footer h2 {
  font-size: 20px;
  font-family: "Crimson Text", serif;
  margin-top: 20px;
}
footer .social-media {
  display: flex;
}
footer .social-media p {
  font-size: 18px;
  margin-right: 20px;
}

/* =============------------------- Responsive Blog -------------------============= */
@media screen and (max-width: 640px) {
  .articles .article .left img {
    height: 100%;
    width: 100%;
  }
  .articles .article .right {
    margin: 0px;
    max-width: 100%;
  }
}

/* =============------------------- Resposive Blog -------------------============= */
/* =============------------------- Blog -------------------============= */

/* =============------------------- About -------------------============= */
.about {
  background-image: url(https://cdn.discordapp.com/attachments/907623259510571009/954850064776429628/gray-wallpaper-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://knoxss.me/wp-content/uploads/2018/09/landing-slider.gif);
}

.banner {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://knoxss.me/wp-content/uploads/2018/09/landing-slider.gif);
  background-size: cover;
  background-position: center;
}
.head-bn {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  font-weight: bolder;
}

.font-head-about {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  color: rgb(211, 255, 185);
  font-size: 20px;
  text-align: left;
  margin-top: 29px;
  text-shadow: 2px 2px 2px #2e2e2e;
}

.font-isi-about {
  font-family: "Mukta";
  src: url(./font/Mukta/Mukta-Medium.ttf);
  color: white;
  font-size: 15.5px;
  text-align: justify;
  text-shadow: 2px 2px 2px #2e2e2e;
}
.font-info-left {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  color: rgb(20, 255, 243);
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  text-shadow: 5px 5px 5px #2e2e2e;
}

.font-info-right {
  font-family: "Kanit";
  src: url(./font/Kanit/Kanit-Medium.ttf);
  color: rgb(20, 255, 243);
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  text-shadow: 5px 5px 5px #2e2e2e;
}
/* =============------------------- About -------------------============= */

/* =============------------------- ContactUs -------------------============= */

/* =============------------------- ContactUs -------------------============= */
.contact {
  background-image: url(https://cdn.discordapp.com/attachments/907623259510571009/954850064776429628/gray-wallpaper-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.head-contact {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
.input-contact {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.input-contact:focus {
  border-bottom: 2px solid #78788c;
}
.p-contact:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.btn-contact {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-contact:hover {
  background: #78788c;
  color: #fff;
}
.foot-contact {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
.spn-foot-contact {
  margin: 0 5px 0 15px;
}
